/*File Name: contact.css
//Student Name: Stephanie Figueira
//StudentID: 301303854
//Date: 09/24/24*/

#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.contactTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contact-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0.5rem 1rem;
    width: 60vw;
    max-width: 40rem;
    background-color: rgb(40, 40, 40);
    border-radius: 0.5rem;
    color: white;
}

.contactIcons {
    display: flex;
    gap: 0.9rem; /* Adds space between the icons */
    justify-content: center; 
    align-items: center; 
}

.contactImgs {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    object-fit: cover;
    transition: .5s ease-in-out;
    border-radius: 0.5rem;
}


.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
}

.submitBtn:hover {
    color: white;
    transition-duration: 1s;
    background-color: #984063;
}